body {
    overflow: hidden;
}
#root {
    width: 500px;
    /* height: 160px;    */
    background: #fff;
    margin: 150px auto;
    /* padding: 200px; */
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat Alternates', sans-serif;
    /* overflow: visible; */
    /* overflow-y: hidden; */
}

.todoapp h2 {
    position: absolute;
    top: -100px;
    width: 100%;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.header_content {
    position: relative;
}
.header_content .checkAll {
    position: absolute;
    background: none;
    border: none;
    top: 6px;
    left: 9px;
    font-size: 22px;
    color: rgb(221, 216, 216);
    z-index: 100;
}
.header_content .action {
    position: absolute;

    top: 2px;
    right: 2px;

    z-index: 100;
}
.action .ant-menu-horizontal {
    line-height: 44px;
}
.action ul .ant-menu-submenu {
    padding: 0 10px 0 0 !important;
}
/* .header_content .action:hover .header_content .handle_action {
    visibility: visible;
} */
.header_content .handle_action {
    position: absolute;

    top: 50px;
    right: 2px;
    font-size: 16px;
    padding: 7px 0 0 17px;
    width: 130px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(241, 241, 241);
    /* box-shadow: inset 2px -2px 1px rgb(0 0 0 / 3%); */
    z-index: 100;
    /* visibility: hidden; */
}
.handle_action a {
    color: black;
    text-decoration: none;
}
.list_todo {
    list-style: none;
    padding: 0;
    margin: 0;
}
.new_to-do,
.updateText {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.new_to-do::placeholder {
    color: rgb(211, 216, 216);
}

.new_to-do,
.todo_item,
.updateText {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px 6px 6px 45px;
    list-style: none;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.new_to-do:focus,
.updateText:focus {
    border: 1px solid rgb(13, 189, 13);
    outline: none;
}
.todo_item {
    /* display: flex; */
    /* justify-content: space-between; */
    /* border: 1px solid blue; */
    /* width: 200px; */
    /* border-radius: 10px; */
    position: relative;
    font-size: 24px;
    padding: 6px;
    /* margin: 2px 0; */
}
.todo_item button {
    background: none;
    border: none;
    font-size: 25px;
}
.todo_item span {
    margin-left: 5px;
}
.todo_item span:hover {
    cursor: pointer;
}
li.completed {
    color: #c5c5c5;
    text-decoration: line-through;
}
.but_remove,
.but_restore {
    float: right;
    visibility: hidden;
}
.todo_item:hover .but_remove,
.todo_item:hover .but_restore {
    visibility: visible;
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 42px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 14px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
/* .filters {
    display: flex;
    justify-content: center;
} */

.todo_count {
    float: left;
    text-align: left;
}

.todo_count span {
    margin-left: 3px;
}
.filters {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters li {
    display: inline;
}
.filters li a {
    color: inherit;
    text-decoration: none;
    padding: 3px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.filters li .handle {
    opacity: 0.6;
}
.filters li .handle:hover,
.filters li :hover {
    opacity: 1;
    cursor: pointer;
}

.filters li a.selected {
    border-color: rgb(13, 189, 13);
}

/**/
.update_todo {
    position: relative;
}
.update_todo icon {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 22px;
    color: rgb(221, 216, 216);
}
.handleUpdate,
.update_todo p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
}
.update_todo p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.update_todo .completed {
    color: rgb(13, 189, 13);
}

.update_todo .active {
    color: rgb(247, 54, 54);
}
.updateText {
    box-shadow: none;
    border: none;
}
.handleUpdate button {
    width: 100px;
    background: none;
    padding: 5px;
    border: 1px solid rgb(13, 189, 13);
    border-radius: 15px;
    color: rgb(13, 189, 13);
}
.handleUpdate button:hover {
    background-color: rgb(13, 189, 13);
    color: white;
}

.handleUpdate button:hover a {
    color: white;
}
.handleUpdate button a {
    color: #777;
    text-decoration: none;
}

/**/
.recycle {
    position: relative;
}
.recycle::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 14px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.recycle a {
    position: absolute;
    top: -43px;
    width: 100%;
    padding: 5px 0 5px 10px;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    /* margin: 20px;
    padding: 3px 7px; */
    /* border: 1px solid transparent;  */
    border: 1px solid #ededed;
    /* border-radius: 3px; */
}

.recycle_footer {
    height: 40px;
    padding: 10px 15px;
}
.recycle_footer span {
    float: right;
}
